@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    background-color: rgb(214, 220, 223);
}
.day{
    background-image: url('./assets/white-bg.avif');
    color: black;
}

.night{
    background-image: url('./assets/black-bg.avif');
    color: aliceblue;
}
.glassmor{
    background: rgba(255, 255, 255, 0.055);
    box-shadow: 0 8px 32px 0 rgba(195, 197, 231, 0.37);
    backdrop-filter: blur( 2px );
    border-radius: 10px;
}
.blurd{
    background-color: rgba(255, 255, 255, 0.055);
    box-shadow: 0 0 30px rgba(195, 197, 231, 0.37);
}